@font-face {
    font-family: "Euclid Circular A";
    src: url('/fonts/Euclid_Circular_A/Euclid_Circular_A_Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url('/fonts/Euclid_Circular_A/Euclid_Circular_A_Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url('/fonts/Euclid_Circular_A/Euclid_Circular_A_Medium.ttf') format("truetype");
     font-weight: 500;
}